{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block links %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">NFT-shop</div>
      {% if request.user.is_authenticated %}
        <nav>
          <ul>
            <li {% if section == 'dashboard' %}class="selected"{% endif %}>
              <a href="{% url 'account:dashboard' %}">Dashboard</a>
            </li>
            <li {% if section == 'shop' %}class="selected"{% endif %}>
              <a href="{% url 'shop:nft_list' %}">Shop</a>
            </li>
            <li {% if section == 'users' %}class="selected"{% endif %}>
              <a href="{% url 'users:users_list' %}">Users</a>
            </li>
          </ul>
        </nav>
        <form action="{% url 'account:logout' %}" method="post">
          {% csrf_token %}
          <button class="log-in-button" type="submit">
            <a href="#">Log out</a>
          </button>
        </form>
      {% else %}
        <button class="log-in-button"><a href="{% url 'account:login' %}">Log-in</a></button>
      {% endif %}
    </header>
    <main>
      <div class="container content">
        {% block content %}
        {% endblock %}
      </div>
      {% if request.user.is_authenticated %}
        <aside>
          {% with profile=request.user.profile %}
            <div class="avatar-container">
              <a href="{% url 'account:profile_edit' %}">
                <img src="{% if profile.image %}{{ profile.image.url }}
                     {% else %}{% static 'img/no_image.jpg' %}{% endif %}"
                     alt="User Avatar" class="user-avatar" />
              </a>
              <span class="username">{{ request.user.username }}</span>
            </div>
          {% endwith %}
          <!-- Sidebar content goes here -->
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </aside>
      {% endif %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"></script>
    <script>
      const csrftoken = Cookies.get('csrftoken');

      document.addEventListener('DOMContentLoaded', (event) => {
        {% block domready %}
        {% endblock %}
      })
    </script>
  </body>
</html>
