{% extends 'base.html' %}
{% load static %}

{% block title %}Changing password{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'account/css/forms.css' %}">
{% endblock %}

{% block content %}
  <h1>Change your password</h1><hr>
  <p>Please use following form to change your password</p>
  <form action="{% url 'account:password_change' %}"
        class="account-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
  </form>
{% endblock %}