{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'account/css/forms.css' %}">
{% endblock %}

{% block content %}
  <h1>Reset your password</h1><hr>
  <p>
    For resetting your password enter your email.
    Next: open letter and click on reference
  </p>
  <form class="account-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Send an email"></p>
  </form>
{% endblock %}
