body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.logo {
  color: #f54b03;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li {
  margin-right: 20px;
  transition: background-color 0.3s; /* добавим переход для плавного изменения фона */
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #f54b03;
}

nav li.selected a {
  color: #f54b03;
  font-weight: bold; /* добавим жирный текст для визуального эффекта */
}

main {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 2em;
}

aside {
  background-color: #f0f0f0;
  width: 200px;
  padding: 2em;
  border-left: 2px solid #ddd;
}

.log-out-button {
  width: 90%; /* Задает ширину кнопки, 90% от ширины родительского элемента */
  margin: 0 auto; /* Центрирует кнопку по горизонтали */
  padding: 10px 0; /* Добавляет отступ сверху и снизу для увеличения высоты кнопки */
  text-align: center; /* Выравнивание текста кнопки по центру */
  display: block; /* Задает кнопке блочный тип отображения */
  border: none; /* Убирает рамку */
  background-color: black; /* Цвет фона кнопки */
  text-transform: uppercase; /* Делает текст кнопки заглавными буквами */
  font-size: 1em; /* Задает размер шрифта кнопки */
  cursor: pointer; /* Меняет курсор при наведении на кнопку */
}

.log-out-button a {
  color: white;
  text-decoration: none;
}

.log-out-button a:hover {
  color: #f54b03;
  text-decoration: none;
}

.log-in-button {
  background-color: #f54b03;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.log-in-button a {
  text-decoration: none;
  color: white;
}

.log-in-button a:hover {
  color: black;
  text-decoration: none;
}
