{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Product {{ object.id }}{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="product-img">
        <img
          src="{{ object.nft.url }}"
          alt="Nft_image"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">
            {{ object.name }}
            <span class="badge text-bg-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                />
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                />
              </svg>
              {{ views }}
            </span>
          </h2>
          <div class="text-wrap" style="width: 30rem">
            <p>
              {{ object.description }}
            </p>
          </div>
          <button class="log-in-button">
            <a href="{{ object.owner.profile.get_absolute_url }}">
              Owner
            </a>
          </button>
          <button type="button" class="btn btn-danger" id="favorite-button"
                  data-action="{% if object in favorites %}remove{% else %}add{% endif %}">
            {% if object in favorites %}
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                      class="bi bi-heart"
                      viewBox="0 0 16 16"
              >
                <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"\
                />
              </svg>
            {% else %}
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-heart-fill"
                      viewBox="0 0 16 16"
              >
                <path
                        fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                />
              </svg>
            {% endif %}
          </button>
          <hr />
        </div>
        <div class="col-6"><h4>${{ object.price }}</h4></div>
        <div class="col-6">
          <button class="log-in-button">
            <a href="{% url 'payment:process' nft_id=object.id %}">Buy</a>
          </button>
        </div>
        <div class="col-12"></div>
        <div class="row">
          <h3 class="text-start">Similar nfts</h3>
          {% for nft in similar_nfts %}
            <div class="col-lg-4">
              <a href="{{ nft.get_absolute_url }}">
                <div class="similar-product">
                  <img
                    class="similar-nft"
                    src="{% thumbnail nft.nft 100x100 %}"
                    alt="User nft"
                  />
                </div>
              </a>
            </div>
          {% empty %}
            <div class="col-4">
              <p>Nothing</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block domready %}
  const activeFavoriteButton =
    `<svg
          xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor"
          class="bi bi-heart"
          viewBox="0 0 16 16"
      >
          <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"\
          />
      </svg>`;

  const disabledFavoriteButton =
    `<svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
          />
      </svg>`;

  const addUrl = '{% url "favorites:add" nft_id=object.id %}';
  const removeUrl = '{% url "favorites:remove" nft_id=object.id %}';

  let favoriteButton = document.getElementById('favorite-button');

  favoriteButton.addEventListener('click', function(e) {
    if (favoriteButton.dataset.action === 'add') {
      fetch(addUrl)
      .then(response => response.json())
      .then(data => {
        if (data['status'] === 'ok') {
          favoriteButton.innerHTML = activeFavoriteButton;
          favoriteButton.dataset.action = 'remove';
        }
      });
    } else if (favoriteButton.dataset.action === 'remove') {
      fetch(removeUrl)
      .then(response => response.json())
      .then(data => {
        if (data['status'] === 'ok') {
          favoriteButton.innerHTML = disabledFavoriteButton;
          favoriteButton.dataset.action = 'add';
        }
      });
    }
  });
{% endblock %}