.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 300px;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
}

.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.sell-button {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  display: block;
  border: none;
  background-color: black;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  bottom: 15px;
  left: 10px;
  position: absolute;
}

.sell-button a {
    text-decoration: none;
    color: white;
}

.sell-button a:hover {
    color: #f54b03
}

.sold-product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 200px;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
}
.sold-product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
  max-height: 80%;
  max-width: 90%;
  object-fit: cover;
}